@{
    List<string> messages = ViewData["Messages"] != null ? (List<string>)ViewData["Messages"] : new List<string>();
}



@{
    if (messages.Count > 0)
    {
        @:@*<div class="message">*@
            @:<div class="collapse" id="messageCollapse" aria-expanded="false" style="">
                foreach (var item in messages)
                {
                    if (item.StartsWith("The") && item.EndsWith("field is required."))
                    {
                        @:<div class="alert alert-danger alert-dismissible" style='margin: 0px;'>
                            @:<button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="javascript: $.messagepanel.closeMessage()">×</button>
                            @:<i class="far fa-times-circle">&nbsp;</i>MCSTSTD004E:
                            @Html.Raw(item.Replace("The ", "").Replace("field is required.", "should not be empty"))
                        @:</div>
                    }
                    else
                    {
                        if (item.Contains("I:"))
                        {
                            @:<div class="alert alert-success alert-dismissible" style='margin: 0px;'>
                            }
                            else if (item.Contains("W:") || item.Contains("W :"))
                            {
                                @:<div class="alert alert-warning alert-dismissible" style='margin: 0px;'>
                                }
                                else
                                {
                                    @:<div class="alert alert-danger alert-dismissible" style='margin: 0px;'>
                                    }
                                    @:<button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="javascript: $.messagepanel.closeMessage()">×</button>
                                    @:<i class="far fa-times-circle">&nbsp;</i>
                                    @Html.Raw(item)
                                @:</div>
                            }
                        }
                    @:</div>
                @:</div>
                @:<div id="collapseButton" class="col-12 text-right">
                    @:    <a role="button" class="text-right collapsed" data-toggle="collapse" href="#messageCollapse" aria-expanded="false" aria-controls="messageCollapse" style="display: none;"></a>
                @:</div>
            @:</div>
        @:@*</div>*@
    }
}
