@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Models.OrderUpdateScreen;
@using GPPSU.Commons.Models;
@using GPPSU.Commons.Constants;

@{ IList<OrderUpdateScreen> previewExcel = (List<OrderUpdateScreen>)ViewData["PreviewExcel"]; }

<style>
    #tblPreview thead th {
        position: initial;
    }
</style>

<div class="modal fade" id="previewUploadExcel" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="popup-title">Preview Excel Upload</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>

            <div class="modal-body mb-1">
                <div class="customContainer mt-2">
                    <div class="row">
                        <div class="alert alert-warning mb-2" id="previewAlert" role="alert" style="width: 100%">
                            Harap isi <strong id="countEmpty"></strong>kolom yang kosong
                        </div><hr />
                        <div class="col-xs-12 mt-2" id="tblScroll" style="width: 100%;">
                            <table class="customTable" id="tblPreview" width="100%">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Company Code</th>
                                        <th>Importer Code</th>
                                        <th>Exporter Code</th>
                                        <th>Order Type</th>
                                        <th>Year Month</th>
                                        <th>CFC</th>
                                        <th>Status Code</th>
                                        <th>Parts No</th>
                                        <th>Re Exp</th>
                                        <th>Lot Size</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-left">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-right">
                        <button type="button" id="btnEditUploaded" class="btn btn-success btn-md">Edit Uploaded</button>
                        <button type="button" id="btnUploadPopupClose" class="btn btn-default btn-md" data-dismiss="modal">Cancel Import</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
