<div class="row customContainer mt-4">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-header pb-1">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="card-title">
                            <i class="fas fa-search"></i>
                            Search Criteria
                        </h3>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">807B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="statuscd" class="font-weight-bolder ml-2">PROCESS :</label>
                                <select class="form-control ml-2" id="proccd" style="width: 85px;">
                                    <option value=""> Choose..</option>
                                    <option value="K">K</option>
                                    <option value="M">M</option>
                                </select>
                                
                                <div class="input-group col" id="MonthDatePicker">
                                    <label class="font-weight-bolder ml-3">Year Month : </label>
                                    <input class="form-control month-picker ml-2" id="txtYear" type="text" data-date-format="yyyymm" data-name="txtYear" placeholder="YYYYMM" style="width: 65px;" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pr-2">
                        <div class="form-group-sm pr-1">
                            <div class="text-right">
                                <button class="btn btn-md btn-default initialBtn" id="btnClear" onclick="doClear()">Clear</button>
                                <button class="btn btn-md btn-info initialBtn" id="btnSearch">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>