<div class="row customContainer mt-4">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-header pb-1">
                <div class="row">
                    <div class="col-md-9 col-9 col-sm-9">
                        <h3 class="card-title">
                            Order Status Progress
                        </h3>
                    </div>

                    <div class="col-md-3 col-3 col-sm-3">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">112B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="padding: 10px 16px;">
                <div class="row">
                    <div class="col-md-9 col-lg-10">
                        <div class="form-inline">
                            <div class="col-md-4"></div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="importercd" class="font-weight-bolder ml-2">Imp</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="exportercd" class="font-weight-bolder ml-2">Exp</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="odt" class="font-weight-bolder ml-2">&emsp;ODT</label>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding:0px;">
                                <div class="form-group">
                                    <label for="yearmonth" class="font-weight-bolder pl-2"> YearMonth</label>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding:0px;">
                                <div class="form-group">
                                    <label for="cfc" class="font-weight-bolder pl-2"> Car Family</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-lg-10">
                        <form role="form" class="form-inline">
                            <div class="col-md-4 pr-0 pl-0">
                                <div class="form-group">
                                    <label for="statuscd" class="font-weight-bolder ml-1">Status Code :</label>
                                    <select id="statuscd" class="form-control col-md-8 ml-1">
                                        <option value="" disabled selected>Select option</option>
                                        <option value="">--ALL--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input type="text" id="importercd" name="" class="form-control ml-2 col-md-12" maxlength="4"/>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input type="text" id="exportercd" name="" class="form-control ml-2 col-md-12" maxlength="4"/>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="" class="font-weight-bolder ml-2"><b>/</b></label>
                                    <input type="text" id="odt" name="" class="form-control ml-2 col-md-7" maxlength="1"/>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding: 0px;" id="MonthDatePicker">
                                <div class="form-group">
                                    <label for="" class="font-weight-bolder"><b>/</b></label>
                                    <input type="text" id="yearmonth" name="" class="form-control ml-2 col-md-10" placeholder="YYYYMM" maxlength="6"  data-date-format="yyyymm" data-name="yearmonth" />

                                    
                                </div>
                            </div>
                            <div class="col-md-1 pl-1" style="padding: 0px;">
                                <div class="form-group">
                                    <label for="" class="font-weight-bolder"><b>/</b></label>
                                    <input type="text" id="cfc" name="" class="form-control ml-2 col-md-9" maxlength="4"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-lg-2 text-right pr-2">
                        <div class="form-group-sm pr-1">
                            <button class="btn btn-md btn-info initialBtn" onclick="doSearch(1)">Search</button>
                            <button class="btn btn-md btn-default initialBtn" onclick="onClear()">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-9 col-lg-10">
                        <div class="form-inline">
                            <div class="col-md-4"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="exportercd" class="font-weight-bolder ml-2">&emsp;R/U</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>