<div class="row customContainer mt-4">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-header pb-1">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="card-title">
                            <i class="fas fa-search"></i>
                            Search Criteria
                        </h3>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">112B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="col-md-6" id="datePickerBox">
                                <div class="form-group">
                                    <label for="txtSearchDestination" class="font-weight-bolder">Destination Code :</label>
                                    <input type="text" name="destcd" id="txtSearchDestination" class="form-control ml-2 enterOnSearch" maxlength="4" style="width: 70px;">
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="form-group-sm">
                                    <button class="btn btn-md btn-default initialBtn" onclick="doClear()">Clear</button>
                                    <button class="btn btn-md btn-info initialBtn" onclick="doSearch(1)">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>