@using GPPSU.Models.DeliveryPackingPartsNoM_PxP;
@using GPPSU.Commons.Constants;
@{
    IList<DeliveryPackingPartsNoM_PxP> ListDest = (List<DeliveryPackingPartsNoM_PxP>)ViewData["ListDest"];

 }
<div class="row customContainer mt-4">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-header pb-1">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="card-title">
                            <i class="fas fa-search"></i>
                            Search Criteria
                        </h3>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">112B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <form role="form" class="form-inline">
                            <div class="form-group col-md-3" style="width: 170px">
                                <label for="txtSearchDestCd" class="font-weight-bolder">Dest Code :</label>
                                <select type="text" id="txtSearchDestCd" name="" class="form-control col-md-6 ml-2 select2-search">
                                    <option value="">@CommonConstant.TEXT_ALL</option>
                                    @foreach (DeliveryPackingPartsNoM_PxP dst in ListDest)
                                    {
                                        <option value="@dst.DEST_CD">@dst.DEST_CD</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3" style="width: 180px">
                                <label for="cfc" class="font-weight-bolder">Car Family Code :</label>
                                <input type="text" id="txtSearchCFC" name="" class="form-control col-md-5 col-lg-4 ml-2" maxlength="4" />
                            </div>
                            <div class="form-group col-md-4" style="width: 325px">
                                <label for="partsno" class="font-weight-bolder">Parts No. :</label>
                                <input type="text" name="partsno" id="txtSearchPartOne" class="form-control ml-1 col-md-2" maxlength="5" />
                                <strong class="ml-1"><b>-</b></strong>
                                <input type="text" name="partsno" id="txtSearchPartTwo" class="form-control ml-1 col-md-2" maxlength="5" />
                                <strong class="ml-1"><b>-</b></strong>
                                <input type="text" name="partsno" id="txtSearchPartThree" class="form-control ml-1 col-md-1" maxlength="2" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 pr-2">
                        <div class="form-group-sm pr-1">
                            <div class="text-right">
                                <button class="btn btn-md btn-default initialBtn" onclick="javascript: doClear()">Clear</button>
                                <button class="btn btn-md btn-info initialBtn" onclick="javascript: doSearch(1)">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>