@{
    Page.Title = "Title goes here";
}
<div class="row" style="margin: 15px 30px -5px 30px;">
    <div class="col-md-12">
        <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">807B</span></span></h5>
    </div>
</div>
