@using GPPSU.Models.DayByDayExplosionInstructions;
@using GPPSU.Models.Common;

@{
    List<DayByDayExplosionInstructions> ListDataMonthly = (List<DayByDayExplosionInstructions>)ViewData["ListDataMonthly"];
}

<table class="customTable text-center" width="100%" id="">
    <thead>
        <tr>
            <th class="pl-3 pr-3 hidden">
                <input class="grid-checkboxDetail ace initialBtn" type="checkbox" id="checkall" />
                <span class="lbl" title="Choose"></span>
            </th>
            <th style="padding: 4px 30px;">Order Control No.</th>
            <th>Status Code</th>
        </tr>
    </thead>
    <tbody>
        @if (ListDataMonthly == null || ListDataMonthly.Count == 0)
        {
            <tr>
                <td colspan="3">No Data Found</td>
            </tr>
        }
        else
        {
            foreach (DayByDayExplosionInstructions data in ListDataMonthly)
            {
                <tr>
                    <td class="hidden">
                        <input name="chkRow" type="checkbox" class="grid-checkbox ace grid-checkbox-body initialBtn" value="@data.RECEIVE_NO" data-rcvNo="@data.RECEIVE_NO" />
                        <span class="lbl"></span>
                    </td>
                    <td>@data.IMPORTER_CD.ToUpper()-@data.EXPORTER_CD.ToUpper()/@data.ORD_TYPE.ToUpper()/@data.PACK_MONTH/@data.CFC.ToUpper()</td>
                    <td>@data.STATUS_CD</td>

                </tr>
            }
        }
    </tbody>
</table>