@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Controllers;
@using GPPSU.Commons.Constants;
@using GPPSU.Models.DeliveryPackingPlanCreation;

@using GPPSU.Models.Common;

@{
    //List<DeliveryPackingPlanCreation> listData = (List<DeliveryPackingPlanCreation>)ViewData["DPPCData"];

    List<DeliveryPackingPlanCreation> listData = (List<DeliveryPackingPlanCreation>)ViewData["DPPCData"] != null ? (List<DeliveryPackingPlanCreation>)ViewData["DPPCData"] : new List<DeliveryPackingPlanCreation>();

    int i = 1;

    DeliveryPackingPlanCreation idx = listData.Count>0 ? listData[0] : new DeliveryPackingPlanCreation();

}



<div class="row customContainer mt-4">
    <div class="col-md-8">
        <div class="card customShadow">
            <div class="card-header pb-1">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="card-title">
                            Display order excepting self-unit plant
                        </h3>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">112B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row pb-1">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="processcd" class="font-weight-bolder ml-2">PROCESS :</label>
                                <select class="form-control ml-2" id="proccd" style="width:125px">
                                    <option value="blank">Choose</option>
                                    <option value="K">K</option>
                                    <option value="M">M</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-7">
                        <div id="gridTableCourse">
                            @Html.Partial("_GridView")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="NQCExecutedDate" class="form-group-sm text-center" style="border: 1px solid #BFC0C1; border-radius: 10px;">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <strong class="text-center" style="color: #8A8A8A;">NQC Executed date</strong>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12 text-center">
                                    <h5 style="color: #8A8A8A;"><u>@idx.NQC_EXE_DT/MM/DD HH:MM:SS</u></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-10">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="cfc" class="font-weight-bolder mr-2">Delivery/Packing Plan Creation Start Date :</label>
                            </div>
                            <div class="input-group col" id="MonthDatePicker">
                                <input class="form-control _datepicker col-md-3 ml-2" id="txtDate" type="text" data-name="txtMonthYear" placeholder="yyyy/mm/dd" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group-sm text-right">
                            <button type="button" id="btn-execute" class="btn btn-info">
                                <i class="fa fa-check-circle"></i> Execute
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>