@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Controllers;
@using GPPSU.Commons.Constants;
@using GPPSU.Models.DeliveryPackingPlanCreation;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<DeliveryPackingPlanCreation> listData = (List<DeliveryPackingPlanCreation>)ViewData["DPPCData"] != null ? (List<DeliveryPackingPlanCreation>)ViewData["DPPCData"] : new List<DeliveryPackingPlanCreation>();
}

@section HeadScript{
}
@Html.Partial("_SearchCriteria")

@section BodyScript{


    <script>

        var process_cd;
        $("._datepicker").datepicker({
            format: 'yyyy/mm/dd',
            autoclose: true,
            container: '#MonthDatePicker',
            orientation: 'top'
        });

        $(document).ready(function () {

            $("#txtDate").prop("disabled", true);

            $("#NQCExecutedDate").hide();
            //$("tbody").hide();

            $("#btn-execute").prop("disabled", true);

            $(document).on("change", "#proccd", function () {
                popUpProgressShow();
                $("tbody").show();


                process_cd = $("#proccd").val();

                var gridLength;



                if (process_cd != "blank") {
                    
                    var initialDate = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() + 1);

                    $("._datepicker").datepicker('update', formatDate(initialDate));

                    $("#txtDate").prop("disabled", false);
                    if (process_cd == "K") {
                        $("#NQCExecutedDate").hide();
                    } else {
                        $("#NQCExecutedDate").show();
                    }

                    $.ajax({
                        type: "POST",
                        url: "@Html.Toyota().Page.GetActionUrl("Search")",
                        data: {
                            PROCESS_CD: process_cd
                        },
                        success: function (data) {
                            //
                            $("#gridTableCourse").html(data);
                            var NQC_DATE = $("tr:eq(1) td:eq(5)").text();

                            if (process_cd == "M") {
                                $("#NQCExecutedDate").html("<div class='row'>" +
                                    "<div class='col - md - 12 text - center'>" +
                                    "<strong class='text - center' style='color: #8A8A8A;'>NQC Executed date</strong>" +
                                    "</div>" +
                                    "</div>" +
                                    "<div class='row mt-2'>" +
                                    "<div class='col-md-12 text-center'>" +
                                    "<h5 style='color: #8A8A8A;'><u>" + NQC_DATE.substring(0, 4) +
                                    "/" + NQC_DATE.substring(4, 6) + "/" + NQC_DATE.substring(6, 8) + " " + NQC_DATE.substring(8, 10) + ":" + NQC_DATE.substring(10, 12) + ":" + NQC_DATE.substring(12, 14) + "</u></h5>" +
                                    "</div>" +
                                    "</div>");
                            }



                            if ($("#isOK td").text().includes("No Data Found")) {
                                $("#btn-execute").prop("disabled", true);
                            }
                            else {
                                gridLength = $("#isOK tr").length;

                                $("#btn-execute").prop("disabled", false);

                                for (var i = 1; i <= gridLength; i++) {

                                    var detail = $("tr:eq(" + i + ") td:eq(4)").text();

                                    if (detail == "NG") {
                                        $("#btn-execute").prop("disabled", true);
                                        break;
                                    }

                                }
                            }

                            popUpProgressHide();
                        },
                        error: function (data) {
                            popUpProgressHide();
                        }
                    });



                } else {
                    $("#NQCExecutedDate").hide();
                    $(".customTable tbody tr").remove();
                    $(".customTable tbody").append('<tr><td colspan="5"> No data found</td></tr>');
                    $("#btn-execute, #txtDate").prop("disabled", true);
                    $("._datepicker").val('');

                    popUpProgressHide();
                }


            });
        });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('/');
        }
    </script>
}
