@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row customContainer mt-4">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-body">
                <div class="jumbotron m-0" style="box-shadow: 0px 1px 4px rgb(172, 172, 172); padding: 40px 32px;font-family: 'Cambria Math';">
                    <p class="text-danger text-center"><i class="fa fa-exclamation-triangle fa-7x"></i><br /><br />Status Code : 403</p>
                    <h1 class="display-4 text-center">OPPSSS..!!!</h1>
                    <p class="lead text-center" >Sorry... You are not authorized. Please, contact administrator!</p>
                    <hr class="my-4">
                    <p class="lead text-center">
                        <a class="btn btn-danger btn-lg" href="javascript:history.back()">Go Back</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


