<div class="row customContainer mt-4">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-header pb-1">
                <div class="row">
                    <div class="col-md-9 col-9 col-sm-9">
                        <h3 class="card-title">
                            <i class="fa fa-search"></i>
                            Search Criteria
                        </h3>
                    </div>

                    <div class="col-md-3 col-3 col-sm-3">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">112B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-inline">
                            <div class="form-group">
                                <div class="input-group col" id="MonthDatePicker">
                                    <label class="font-weight-bolder" for="txtYear">Year Month : </label>
                                    <input class="form-control month-picker ml-3" id="txtMonthYear" type="text" data-date-format="dd.mm.yyyy" data-name="txtMonthYear" placeholder="YYYYMM" style="width: 75px;" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-right pr-2">
                        <div class="form-group-sm pr-1">
                            <div class="text-right">
                                <button class="btn btn-md btn-default initialBtn" id="btnClear" onclick="onClear()">Clear</button>
                                <button class="btn btn-md btn-info initialBtn" id="btnSearch" onclick="doSearch(1)">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>