@using GPPSU.Commons.Constants;

@using GPPSU.Models.Common;
@{
    PagingModel page = ViewData["Paging"] != null ? (PagingModel)ViewData["Paging"] : new PagingModel(0, 1, 10);
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkall").click(function () {
            $(".grid-checkbox").prop("checked", $("#checkall").is(":checked"));
        });

        $(".grid-checkbox").click(function () {
            $("#checkall").prop("checked", $('.grid-checkbox:not(#checkall)').not(':checked').length == 0);
        });
    });
</script>

<div class="customContainer" style="margin-top: -10px;">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="preload">
                <div class="spinnerDisplay"></div>
            </div>
            <div class="card-body sk-loading">
                <div class="row mb-3">
                    <div class="col-md-6 col-6 col-sm-6">
                        <button id="btnUpload" type="button" class="btn btn-info initialBtn">Upload</button>
                        <button type="button" id="btn-download" class="btn btn-primary initialBtn" onclick="onDownload()">Download</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="table-responsive customTableBorder">
                            <div class="tableScroll">
                                <table class="customTable text-center" id="tblDetail" width="100%">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="stickyColumn">Parts No. <br /> Unit Sign <br /> Parts Name</th>
                                            <th rowspan="2" class="stickyColumn">Status Code</th>
                                            <th rowspan="2" class="stickyColumn">Car Family Code</th>
                                            <th rowspan="2" class="stickyColumn">Export Code</th>
                                            <th rowspan="2" class="stickyColumn"></th>
                                            <th rowspan="2" class="stickyColumn">Total</th>

                                            @for (int i = 1; i <= 30; i++)
                                            {
                                                <th>@i</th>
                                            }

                                        </tr>
                                        <tr>
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i == 5)
                                                {
                                                    <th>Mon</th>
                                                    <th>Tue</th>
                                                }
                                                else
                                                {
                                                    <th>Mon</th>
                                                    <th>Tue</th>
                                                    <th>Wed</th>
                                                    <th>Thu</th>
                                                    <th>Fri</th>
                                                    <th>Sat</th>
                                                    <th>Sun</th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th rowspan="3" class="stickyColumn">Line Total </th>
                                            <th rowspan="3" class="stickyColumn"></th>
                                            <th rowspan="3" class="stickyColumn"></th>
                                            <th rowspan="3" class="stickyColumn"></th>
                                            <th class="text-left stickyColumn">Capacity</th>
                                            <th class="stickyColumn">9999</th>
                                            @for (int j = 1; j < 31; j++)
                                            {
                                                <th>9999</th>
                                            }
                                        </tr>
                                        <tr>
                                            <th class="text-left stickyColumn">Prod</th>
                                            <th class="stickyColumn">9999</th>
                                            @for (int j = 1; j < 31; j++)
                                            {
                                                <th>9999</th>
                                            }
                                        </tr>
                                        <tr>
                                            <th class="text-left stickyColumn">Different</th>
                                            <th class="stickyColumn">9999</th>
                                            @for (int j = 1; j < 31; j++)
                                            {
                                                <th>9999</th>
                                            }
                                        </tr>


                                        <tr class="startStickyTd">
                                            <td class="stickyColumn 0">Export Total</td>
                                            <td class="stickyColumn 1"></td>
                                            <td class="stickyColumn 2"></td>
                                            <td class="stickyColumn 3"></td>
                                            <td class="text-left stickyColumn 4">Prod</td>
                                            <td class="stickyColumn 5">9999</td>
                                            @for (int j = 1; j < 31; j++)
                                            {
                                                <td>9999</td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="stickyColumn 0">Domestic Total</td>
                                            <td class="stickyColumn 1"></td>
                                            <td class="stickyColumn 2"></td>
                                            <td class="stickyColumn 3"></td>
                                            <td class="text-left stickyColumn 4">Prod</td>
                                            <td class="stickyColumn 5">9999</td>
                                            @for (int j = 1; j < 31; j++)
                                            {
                                                <td>9999</td>
                                            }
                                        </tr>

                                        @for (int x = 1; x < 25; x++)
                                        {
                                            <tr>
                                                <td rowspan="4" class="stickyColumn 0">12000-0C111-00 </td>
                                                <td rowspan="4" class="stickyColumn 1">1</td>
                                                <td rowspan="4" class="stickyColumn 2">522 V</td>
                                                <td rowspan="4" class="stickyColumn 3">E</td>
                                                <td class="text-left stickyColumn 4">Del/Packing</td>
                                                <td class="stickyColumn 5">9999</td>
                                                @for (int j = 1; j < 31; j++)
                                                {
                                                    <td>9999</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td class="text-left stickyColumn 4">Prod</td>
                                                <td class="stickyColumn 5">9999</td>
                                                @for (int j = 1; j < 31; j++)
                                                {
                                                    <td>
                                                        <input class="form-control" id="txtProd" type="text" data-name="txtProd" value="9999" style="width:39px;height:20px;text-align:center"/>
                                                    </td>
                                                }
                                            </tr>
                                            <tr>
                                                <td class="text-left stickyColumn 4">Target Stock</td>
                                                <td class="stickyColumn 5"></td>
                                                @for (int j = 1; j < 31; j++)
                                                {
                                                    <td>
                                                        <input class="form-control" id="txtProd" type="text" data-name="txtProd" value="" style="width:39px;height:20px" />
                                                    </td>
                                                }
                                            </tr>
                                            <tr>
                                                <td class="text-left stickyColumn 4">Stock</td>
                                                <td class="stickyColumn 5">9999</td>
                                                @for (int j = 1; j < 31; j++)
                                                {
                                                    <td>9999</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-9">
                        <div class="form-group-sm">
                            @Html.Partial("_UIPaging", page)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group-sm pt-1">
                            <button class="btn btn-md btn-default initialBtn pr-1 pl-1">Monthly Base</button>
                            <button class="btn btn-md btn-info initialBtn">Recalcu</button>
                            <button class="btn btn-md btn-primary initialBtn">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>