Backup
.vs/
.vs/GPPSU/config/
obj/Debug/
obj/Debug/*.cache
bin/GPPSU.dll
bin/GPPSU.dll.config
bin/GPPSU.pdb
Tdk-Lib/Toyota.Common.Web.Platform.dll_ori
/Batch/**/bin/**/GPPSUBatchService.*
/Batch/**/bin/**/BatchHandler.*
/Batch/**/bin/**/Common.*
/Batch/**/bin/**/Resources/
/Batch/**/obj/
/Batch/.vs
sqlite3/
/Batch/GPPSUBatch/bin/Debug/GPPSUBatch.exe
/Batch/GPPSUBatch/bin/Debug/GPPSUBatch.exe.config
/Batch/GPPSUBatch/bin/Debug/GPPSUBatch.pdb
/Batch/GPPSUBatch/bin/GPPSUBatch/*.log
Batch/GPPSUBatch/bin/Release/GPPSUBatch.exe
Batch/GPPSUBatch/bin/Release/GPPSUBatch.exe.config
Batch/GPPSUBatch/bin/Release/GPPSUBatch.pdb
/Web/GPPSU/bin
