<div class="row customContainer mt-4">
    <div class="col-md-7">
        <div class="card customShadow">
            <div class="card-header pb-1">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="card-title">
                            K Production Plan Summary List
                        </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">807B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-inline pl-1">
                            <div class="form-group">
                                <label for="processcd" class="font-weight-bolder">PROCESS :</label>
                                <select class="form-control ml-2" id="proccd" onchange="changeProcessCd()" style="width:100px">
                                    <option value="">Choose</option>
                                    <option value="K">K</option>
                                    <option value="M">M</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-right pr-2">
                        <a class="btn btn-md btn-default " href="" style="border-radius: 10px; color:#007bff;">Go To Web File Service</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div id="gridTableCourse">
                            @Html.Partial("_GridView")
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-10 col-12 pl-2">
                        <div class="form-inline">
                            <div class="input-group" id="MonthDatePicker">
                                <label for="year" class="font-weight-bolder ml-2">Year Month (From) :</label>
                                <input class="form-control _datepicker ml-2" id="txtYear" type="text" data-date-format="yyyymm" data-name="txtMonthYear" placeholder="YYYYMM" style="width: 70px;" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                            </div>                         
                        </div>
                    </div>

                    <div class="col-md-2 col-12 pl-2">
                        <div class="form-group-sm text-right">
                            <button type="button" id="btn-search" class="btn btn-primary" tabindex="9" onclick="onPrint()">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>