<div class="row customContainer mt-4">
    <div class="col-md-9">
        <div class="card customShadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="card-title">
                            <i class="fas fa-search"></i>
                            Search Criteria
                        </h3>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">112B</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="partsno" class="font-weight-bolder">HEIJUNKA Code :</label>
                                    <input type="text" name="HEIJUNKACd" id="txtSearchHEIJUNKACd" class="form-control ml-2 col-md-4 enterOnSearch">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group-sm">
                                    <div class="text-right">
                                        <button class="btn btn-md btn-default initialBtn" onclick="javascript: doClear()">Clear</button>
                                        <button class="btn btn-md btn-info initialBtn" onclick="javascript: doSearch(1)">Search</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div><hr />
                <div class="row">
                    <div class="col-md-12">
                        <div id="gridTableCourse">
                            @Html.Partial("_GridView")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
