select count(1) FROM TB_M_DLV_PACK_PART
where 1=1
  AND ((@DEST_CD is null OR @DEST_CD = '') OR (DEST_CD = @DEST_CD))
  AND ((@CFC is null OR @CFC = '') OR (CFC  = @CFC))
AND ((@PART_NO_ONE is null OR @PART_NO_ONE = '') OR (PART_NO like '%' +@PART_NO_ONE+'%' ))
	AND ((@PART_NO_TWO is null OR @PART_NO_TWO = '') OR (PART_NO like '%' +@PART_NO_TWO+'%' ))
	AND ((@PART_NO_THREE is null OR @PART_NO_THREE = '') OR (PART_NO like '%' +@PART_NO_THREE+'%' ))
