<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configuration-item>
    <key>SPOT</key>
    <value>
      <ConnectionString>Server=FID-ASEXT005\MSSQLSERVER2012; User ID=sa; Password=fid123!!; Database=IPPCS_QA;</ConnectionString>
      <IsDefault>true</IsDefault>
      <Provider>System.Data.SqlClient</Provider>
    </value>
    <description>Local SPOT Development Database</description>
  </configuration-item>
</configuration>